.banner {
    // min-height: auto;
    // min-height: 80vh;
    background: #e5e5e5;
    .title {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%,-50%);
        @media screen and (max-width:768px) {
            width: 100%;
        }
        h2 {
            font-family: 'Protest Riot', sans-serif;
            color: black;
            font-size: 4rem;
            line-height: 3.6rem;
            text-align: center;
            text-shadow: 5px 5px white;
            @media screen and (max-width:768px) {
                font-size: 2.8rem;
                line-height: 2.2rem;
                text-shadow: 2px 2px white;
            }
        }
    }
    .bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        &-awan {
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 30%;
            height: auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &-awan-right {
            position: absolute;
            right: 0;
            bottom: -5px;
            width: 30%;
            height: auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}