.komik {
    background: #f6e34e;
    border-top: 3px solid black;

    .bintang {
        position: absolute;
        inset: 0;
        width: 100%;
        z-index: 2;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .awan-atasx {
        position: absolute;
        bottom: 0%;
        z-index: 1;
        left: 0%;
        width: fit-content;
        height: 200px;
        @media screen and (max-width:768px) {
            height: 90px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .hitamx {
        position: absolute;
        inset: 0;
        opacity: .3;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .judul {
        margin: 0 auto 24px;
        width: fit-content;
        border: 3px solid black;
        text-align: center;
        padding: 8px 16px;
        background: white;
        h3 {
            color: black;
            font-family: 'Protest Riot', sans-serif;
            // color: #e45a25;
        }
    }
    .gallery {
        display: flex;
        padding: 2px;
        transition: .3s;
        figure {
            margin-bottom: 0;
        }
        &:hover {
            .gallery__image {
                // filter: grayscale(1);
            }
        }
        &__column {
            display: flex;
            flex-direction: column;
            width: 50%;
        }
        &__link {
            margin: 2px;
            cursor: pointer;
            overflow: hidden;
            border: 3px solid black;
            &:hover {
                .gallery__image {
                    // filter: grayscale(0);
                }
                .gallery__caption {
                    opacity: 1;
                }
            }
        }
        &__thumb {
            position: relative;
            &--odd {
                height: 280px;
            }
            &--even {
                height: 200px;
            }
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        &__image {
            display: block;
            width: 100%;
            transition: .3s;
            
            &:hover {
                transform: scale(1.1);
                // border: 3px solid black;
            }
        }
        &__caption {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 25px 15px 15px;
            width: 100%;
            // font-family: 'Raleway', sans-serif;
            font-size: 16px;
            color: white;
            opacity: 0;
            background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
            transition: .3s;
        }
    }

@import 'popupx';    
      
}


.realcount {
    // background: white;
    // border: 2px solid black;
}

.smalles {
    font-size: 12px;
}

.datasx {
    @media screen and (max-width:768px) {
        font-size: 14px;
    }
}